<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="plantilla/template :: head">
    </head>
    <body>


        <div class="container">	  
            <div class="card bg-light">
                <div class="card-header bg-danger text-white" th:text="${titulo}"></div>
                <div class="card-body">
                    <form   th:action="@{/views/Pagos/save}" th:object="${pago}" method="post">
                        <div class="row">
                            <div class="col">
                                <input type="text" th:field="*{nombres}" class="form-control" placeholder="Nombre" required="">
                            </div>
                            <div class="col">
                                <input type="text" th:field="*{apellidos}" class="form-control" placeholder="Apellidos" required="">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col">
                                <input type="text"  th:field="*{dni}" class="form-control" placeholder="DNI" required="">
                            </div>
                            <div class="col">
                                <input type="email" th:field="*{correo}" class="form-control" placeholder="Correo ceiduns@gmail.com" required="">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col">
                                <input type="text" th:field="*{codigoEstudiante}" class="form-control" placeholder="Codigo estudiante Opcional" >
                            </div>
                            <div class="col">
                                <input type="text" th:field="*{edad}"  class="form-control" placeholder="Edad" required="">
                            </div>
                        </div>
                        <br>
                        
                        <h5>Idioma</h5>
                        <div class="p-3 mb-2 bg-white text-dark">
                            <div class="row">
                                <div class="col">
                                    <label   class="" for="">Seleccionar Idioma:</label>
                                    <select   th:field="*{idioma}" class="form-control" required=""> 
                                     <option th:each="I:${idiomas}"
						th:value="${I.id}"
						th:text="${I.Idioma}"		
					/>
                                    </select>
                                </div>
                                <div class="col">
                                    <label class="" for="">Seleccionar Nivel:</label>
                                    <select th:field="*{niveles}" class="form-control" required=""> 
                                        <option th:each="Ni:${nivel}"
						th:value="${Ni.id}"
						th:text="${Ni.nivel}"		
					/>
                                    </select>
                                </div>
                            </div>  
                            <div class="row">
                                <div class="col">
                                    <label class="" for="">Seleccionar Ciclo:</label>
                                    <select th:field="*{ciclos}" class="form-control" required=""> 
                                        <option th:each="ci:${ciclo}"
						th:value="${ci.id}"
						th:text="${ci.ciclo}"		
					/>
                                    </select>
                                </div>
                                <div class="col">
                                    <label class="" for="">Seleccionar Horario:</label>
                                    <select th:field="*{horario}" class="form-control" required=""> 
                                          <option th:each="h:${horario}"
						th:value="${h.id}"
						th:text="${h.Horario}"		
					/>
                                    </select>
                                </div>
                            </div>  
                        </div>
                        
                        <h5>Datos de Pago</h5>
                        <div class="p-3 mb-2 bg-white text-dark">
                            <div class="row">
                                <div class="col">
                                    <input th:field="*{fechaPago}" type="text" class="form-control" placeholder="Fecha Operacion 02/01/2021" >
                                </div>
                                <div class="col">
                                    <input th:field="*{horaOperacion}" type="text" class="form-control" placeholder="Hora Operacion" required="">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col">
                                    <input th:field="*{numeroOperacion}" type="text" class="form-control" placeholder="Número Operacion" required="">
                                </div>
                                <div class="col">
                                    <input th:field="*{montoPago}" type="text" class="form-control" placeholder="Monto Pagado S/" required="">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col">
                                    <select th:field="*{tipoPago}" class="form-control" required=""> 
                                                 <option th:each="h:${listTipoP}"
						th:value="${h.id}"
						th:text="${h.tipo}"		
					/>
                                    </select>
                                </div>
                                <div class="col">
                                    <input th:field="*{personaPago}" type="text" class="form-control" placeholder="Nombre de quien Pago" required="">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col">
                                    <input th:field="*{perosnaDNI}" type="text" class="form-control" placeholder="DNI" required="">
                                </div>
                                <div class="col">
                                </div>
                            </div>
                        </div>

                        <br>
                        <div class="card-footer bg-danger">
                            <input type="submit" class="btn btn-outline-light btn-sm" value="Guardar">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <footer th:replace="plantilla/template :: footer"></footer>
    </body>
</html>